<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>name</param-name>
        <param-value>value</param-value>
    </context-param>
    
    <listener>
        <listener-class>LRT2_Models.LRT2Listener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>TransactionPortal</servlet-name>
        <jsp-file>Transacting/transactionPortal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionPortal</servlet-name>
        <url-pattern>/LRT2Portal</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>TransactionPortalBeep</servlet-name>
        <jsp-file>Transacting/transactionPortalBeep.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionPortalBeep</servlet-name>
        <url-pattern>/BeepLRT2Portal</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>SJSuccess</servlet-name>
        <jsp-file>Transacting/SJSuccess.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SJSuccess</servlet-name>
        <url-pattern>/SJSuccess</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/BeepLogin</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/BeepRegister</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SingleJourneyFareCompute</servlet-name>
        <servlet-class>LRT2_Controllers.SingleJourneyTransactionConfirmation</servlet-class>
        
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>LRT2Cards</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SingleJourneyFareCompute</servlet-name>
        <url-pattern>/ConfirmTravel</url-pattern>
    </servlet-mapping>
 
     <servlet>
        <servlet-name>SingleJourneySuccess</servlet-name>
        <servlet-class>LRT2_Controllers.SingleJourneySuccess</servlet-class>
        
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>LRT2Cards</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SingleJourneySuccess</servlet-name>
        <url-pattern>/SJTransactionSuccess</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>BeepLoginConfirmation</servlet-name>
        <servlet-class>LRT2_Controllers.BeepLogin</servlet-class>
        
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>LRT2Cards</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BeepLoginConfirmation</servlet-name>
        <url-pattern>/ConfirmBeepCard</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorSession.jsp</location>
    </error-page>
</web-app>
